---
import FormGenerator from "../components/FormGenerator/FormGenerator.svelte";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const res = await fetch(`${Astro.url.origin}/api/formgenerator.json`);
const formJson = await res.json();
---

<DefaultLayout>
  <div class='bg-white'>
    <div class='mx-auto max-w-7xl px-4 py-24 sm:px-6 sm:py-32 lg:px-8'>
      <div class='mx-auto max-w-2xl'>
        <FormGenerator client:load formBlocks={formJson.blocks} />
      </div>
    </div>
  </div>
</DefaultLayout>
