---
import LinkCard from "../components/IndexLinkCard.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";

const links = [
  [
    `${Astro.url.origin}/product-overview-with-grid/1`,
    "Product overview with grid",
  ],
];
---

<DefaultLayout>
  <main class='h-full flex justify-center items-center'>
    <ul
      role='list'
      class='grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3'
    >
      {links.map((link) => <LinkCard link={link} />)}
    </ul>
  </main>
</DefaultLayout>
